<%- include('includes/head') %>

<h1>O resultado do seu juros foi:</h1>
<h2>O juros ficou: <%= juros %></h2>
<h2>O montante ficou: <%= montante %></h2>

<form action="/" method="get">
    <input type="submit" value="Calcular mais juros!">
</form>

<%- include('includes/foot') %>
