<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exercicio</title>
</head>
<body>
    <form action="/saudacao" method="get">
        <p>
            <label for="nome">Nome:</label>
            <input type="text" name="nome">
        </p>
        
        <p>
            <label for="numero">Numero:</label>
            <input type="number" name="numero">
        </p>

        <p>
            <button>Gerar saudação</button>
        </p>
    </form>
</body>
</html>